{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="p-3">
    <h1>Home Page</h1>
    <p>Welcome, {{ session['full_name'] }}!</p>
    <ul>
        {% if not playlists %}
            <div>
                <p>User has no playlists</p>
            </div>
        {% else %}
            {% for playlist_id, playlist_name in playlists.items() %}
                <div>
                    <li>
                        <button id="{{ playlist_id }}" >{{ playlist_name }}</button>
                    </li>
                </div>
            {% endfor %}
        {% endif %}
    </ul>

</div>
<script>
    const btn = document.querySelectorAll('li button')
    const tracksContainer = document.createElement('div')
<!--    tracksContainer.classList.add('p-3')-->
    tracksObj = {{ tracks | tojson }}
<!--    console.log(tracksObj[0]['0wWqnA8AgAHHTZNVMR4zCr'])-->

    function clearContainer(container){
        while(container.firstChild){
            container.removeChild(container.firstChild)
        }
    }

    function showTracks(playlist_id){
        let list = document.createElement('ul')
        let btn = document.createElement('button')
        btn.innerHTML = 'Clear'
        btn.classList.add('m-3')
        btn.addEventListener('click', () => clearContainer(tracksContainer))
        clearContainer(tracksContainer)

        for(let i = 0; i < tracksObj[0][playlist_id].length; i++){
            let listItem = document.createElement('li')
<!--            listItem.classList.add()-->
            listItem.innerHTML = tracksObj[0][playlist_id][i]
            list.appendChild(listItem)
        }

        tracksContainer.appendChild(list)
        tracksContainer.appendChild(btn)

    }

    btn.forEach((e) => {
        e.addEventListener('click', (event) => {
            showTracks(e.id)
            e.parentNode.appendChild(tracksContainer)

        })
    })

</script>
{% endblock %}