{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="p-3">
       <h1 class="lead">Welcome To SpotYan</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu molestie purus. Ut et egestas magna. Sed fringilla, sapien eget ullamcorper auctor, massa orci bibendum elit, eget ornare felis magna id mi. Nam nec hendrerit augue, et aliquet nisi. Duis convallis euismod tincidunt. Nam mauris tortor, cursus sit amet elit non, pretium auctor odio. Ut in rhoncus libero, id maximus purus.

Quisque non imperdiet risus. Integer et feugiat massa. Aliquam faucibus magna eu lectus fringilla, vitae ornare dui mollis. Suspendisse potenti. Donec maximus maximus lacus. Mauris ex odio, porttitor non quam sit amet, hendrerit vestibulum ante. Integer volutpat nulla nisi, eget ullamcorper ante sagittis et.

Nullam vitae erat nunc. Aliquam porta aliquam diam ac rutrum. Nulla vulputate orci vel augue imperdiet bibendum vel a nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam non mauris aliquam quam facilisis blandit porta id ipsum. Proin facilisis lobortis mollis. Praesent libero lacus, fermentum ac justo eu, pharetra varius erat. Praesent ante metus, pretium ac erat id, interdum consequat ex. Sed in ipsum a lacus viverra pretium et a risus. Maecenas vel lorem tellus. Nulla lobortis pharetra accumsan. Sed eu efficitur urna.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris bibendum posuere ante ut convallis. Fusce vestibulum eu purus sed tempus. Nam lacus libero, fermentum eget tellus vel, viverra maximus sem. Sed et orci dolor. Morbi sed magna in turpis sollicitudin viverra. Duis ut sollicitudin velit. Quisque nibh enim, ultricies vitae enim in, vestibulum dignissim quam. Donec efficitur risus sit amet tortor sodales, vitae iaculis risus accumsan. Donec non vehicula nisl, accumsan condimentum neque. Nullam tincidunt maximus libero, ut faucibus neque. Nulla facilisi.

Etiam ac ultricies urna. Sed venenatis vehicula risus sit amet vestibulum. Donec varius tellus eget luctus ultrices. Donec scelerisque diam felis, sit amet pretium enim vestibulum eu. Mauris maximus orci dolor, ut vulputate diam molestie non. Suspendisse potenti. Vestibulum dictum risus at nulla efficitur, non imperdiet lacus placerat. Vestibulum feugiat feugiat tortor, non ullamcorper lacus molestie at. Nullam porta massa eget viverra posuere. Ut bibendum turpis nulla, nec mattis tortor cursus non. Sed blandit dictum leo aliquam semper. Integer et massa a nisi porta congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc feugiat risus ac malesuada finibus.
        </p>

    </div>
{% endblock %}