{% extends "base.html" %}
{% block title %} Other Playlists {% endblock %}
{% block content %}
    {% if not users_details %}
        <div>
            <p>There are currently no other users.</p>
        </div>
    {% else %}
        <form action="{{ url_for('generate_other_pl') }}" method="post">

            <ul>
            {% for user_email, user_fullname in users_details.items() %}
                <div>
                    <li class="p-1 m-1">
                        <button id="{{ user_email }}" name="{{ user_email }}" value="{{ user_fullname }}" class="p-1" type="submit" >{{ user_fullname }}</button>
                    </li>
                </div>
            {% endfor %}
            </ul>
        </form>
    {% endif %}
{% endblock %}